<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio do Orçamento</title>

    <!-- Conecta o HTML ao CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Desafio do Orçamento</h1>
        <p>O objetivo deste jogo é montar um PC que bata a meta de 100 pontos,<br> ficando na marca "Excelente",
            sem estourar seu orçamento.<br> Esperamos que goste!!! </p>
    </header>

    <main>

        <!-- Informações da partida -->
        <section class="painel">
            <span>Orçamento</span>
            <strong>R$ 5.000</strong>
        </section>

        <h2>Escolha suas peças</h2>

        <!-- Formulário -->
        <form action="/jogar" method="POST">

            <section class="pecas">

                <!-- Processador -->
                <div class="card">
                    <h3>Processador</h3>
                    <p>Escolha o cérebro do computador.</p>

                    <select name="processador">
                        <option value="cpu1">
                            Processador Básico — R$ 600
                        </option>

                        <option value="cpu2">
                            Processador Gamer — R$ 1.000
                        </option>

                        <option value="cpu3">
                            Processador Pro — R$ 1.500
                        </option>
                    </select>
                </div>

                <!-- Placa de vídeo -->
                <div class="card">
                    <h3>Placa de vídeo</h3>
                    <p>Escolha o desempenho gráfico.</p>

                    <select name="placa_video">
                        <option value="gpu1">
                            GPU Básica — R$ 900
                        </option>

                        <option value="gpu2">
                            GPU Gamer — R$ 1.500
                        </option>

                        <option value="gpu3">
                            GPU Ultra — R$ 2.200
                        </option>
                    </select>
                </div>

                <!-- RAM -->
                <div class="card">
                    <div class="icone"></div>
                    <h3>Memória RAM</h3>
                    <p>Escolha a quantidade de memória.</p>

                    <select name="ram">
                        <option value="ram1">
                            8 GB — R$ 250
                        </option>

                        <option value="ram2">
                            16 GB — R$ 450
                        </option>

                        <option value="ram3">
                            32 GB — R$ 800
                        </option>
                    </select>
                </div>

                <!-- Armazenamento -->
                <div class="card">
                    <h3>Armazenamento</h3>
                    <p>Escolha onde seus arquivos ficarão.</p>

                    <select name="armazenamento">
                        <option value="ssd1">
                            SSD 500 GB — R$ 300
                        </option>

                        <option value="ssd2">
                            SSD 1 TB — R$ 500
                        </option>

                        <option value="ssd3">
                            SSD 2 TB — R$ 850
                        </option>
                    </select>
                </div>

                <!-- Fonte -->
                <div class="card">
                    <h3>Fonte</h3>
                    <p>Escolha a fonte do computador.</p>

                    <select name="fonte">
                        <option value="fonte1">
                            500W — R$ 300
                        </option>

                        <option value="fonte2">
                            650W — R$ 450
                        </option>

                        <option value="fonte3">
                            750W — R$ 600
                        </option>
                    </select>
                </div>

                <!-- Monitor -->
                <div class="card">
                    <h3>Monitor</h3>
                    <p>Escolha sua tela.</p>

                    <select name="monitor">
                        <option value="monitor1">
                            Full HD — R$ 700
                        </option>

                        <option value="monitor2">
                            Gamer 144Hz — R$ 1.100
                        </option>

                        <option value="monitor3">
                            Gamer 240Hz — R$ 1.600
                        </option>
                    </select>
                </div>

            </section>

            <button type="submit">
                FINALIZAR DESAFIO
            </button>

        </form>

    </main>

    <footer>
        <p>Projeto para a feira Bartotec<br>1° Informatica-N</p>
    </footer>

</body>
</html>
